<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Adding item</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1 th:text="${obj.code}"></h1><br>
         
            <form method="post" action="/item/add">
                Name: <input type="text" name="name"> <br>
                Code: <input type="text" name="code"> <br>
                Description: <input type="text" name="description"> <br>
                <button type="submit">Save</button>
            </form>
         
    </body>
</html>
