<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Adding unit</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

        
                 <form  method="post" action="/home" >
            <table>
                <tr>
                    <td>Name:</td>
                    <td><input type="text" name="name" /></td>
                </tr>
                <tr>
                    <td>Description:</td>
                    <td><input type="text" name="description" /></td>
                </tr>
                                <tr>
                    <td>Building:</td>
                    <td><input type="text" name="building" /></td>
                </tr>
                                <tr>
                    <td>Room:</td>
                    <td><input type="text" name="room" /></td>
                </tr>
                                <tr>
                    <td>Floor:</td>
                    <td><input type="text" name="floor" /></td>
                </tr>
                <tr>
                    <td><button type="submit">Submit</button></td>
                </tr>
            </table>
        </form>
    </body>
</html>
