<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Adding item</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
       
        
<!--                <form  method="get" action="/unit/byShortName" >
            <table>
                <tr>
                    <td>Jednostka: szukanie po krótkiej nazwie:
                     <input type="text" name="shortName" />
                        <button type="submit">Szukaj</button></td>
                </tr>
            </table>
        </form>-->
        
        
<form  method="get" action="/location/save" >        
        <table>
<!--   <th:block th:each="el : ${iterable}">-->

      <tr>          
          <td > Id:</td ><td > <input type="text" name="id" th:value="${el.id}"/> </td>
      </tr>
      <tr>          
               <td >Nazwa:</td ><td > <input type="text" name="name" th:value="${el.name}"/></td>
      </tr>
            <tr>          
               <td >Opis:</td ><td > <input type="text" name="description" th:value="${el.description}"/></td>
      </tr>
      <tr>          
               <td >Budynek:</td ><td > <input type="text" name="building" th:value="${el.building}"/></td>
      </tr>
            <tr>          
               <td >Pokój:</td ><td > <input type="text" name="room" th:value="${el.room}"/></td>
      </tr>
      <tr>          
               <td >Piętro:</td ><td > <input type="text" name="floor" th:value="${el.floor}"/></td>
      </tr>
   
                <td ><button type="submit">Zapisz</button></td>
      </tr>
</table>
             </form>

         
    </body>
</html>
